<section class="container padding-b-twothird" data-container-type="subgrid">
  <div class="business-card js--anchor" data-card-type="business">
    <div class="business-card--section">
      <img src="/images/people/<%= person.data.img %>" class="image" data-image-filter="true">
    </div>
    <div class="business-card--section">
      <p class="t--title">
        <%= person.data.name %>
      </p>
      <p class="t--text padding-b-third"><%= person.data.job %></p>
      <div class="container" data-container-type="wrap">
        <a href="<%= person.data.linkedin || 'https://www.linkedin.com/vsearch/f?type=all&keywords=' + person.data.name %>" class="label">LinkedIn</a>
        <% if person.data.twitter %>
        <a href="<%= person.data.twitter || 'https://twitter.com/search?q=' + person.data.name %>" data-button-type="textbar" class="label">Twitter</a>
        <% end %>
      </div>
    </div>
  </div>
</section>