<section class="container padding-b-one" data-container-type="fw">
  <div class="sheet js--anchor">
    <a href="<%= feature.html_url %>"><h1 class="sheet--title"><%= feature.title %></h1></a>
    <p class="sheet--text"><%= feature.body %></p>
    <p class="sheet--text"> Created: <time><%= feature.created_at %></time></p>
    <p class="sheet--text"> Planned: <time><%= feature.created_at %></time></p>
  </div>
</section>