<section class="container padding-b-one" data-container-type="fw">
  <div class="roadmap-item js--anchor">
    <div class="roadmap-item--header">
        <%
        require 'nokogiri'
        require 'open-uri'
        doc = Nokogiri::HTML(feature.body_html)
        %> 
      <h1 class="roadmap-item--title"><%= feature.title %></h1>
      <div class="roadmap-item--row-container">
        <a data-button-type="smudged" class="button" href="<%= feature.html_url %>">View on Github</a>   
        <h1 class="roadmap-item--issue-number">#<%= feature.number %></h1>
      </div>
    </div>
    <div class="roadmap-item--collapsable">
      <div class="roadmap-item--meta">
        <div class="roadmap-item--assignee">
          <% if feature.assignee %>
          <h6 class="roadmap-item--smalltitle roadmap-item--assignee-title">Assignee</h6>
          <div class="roadmap-item--row-container">
            <img src="/images/people/robertjan.png" class="roadmap-item--profile-img" data-image-filter="true">
            <p class="roadmap-item--tiny"> <%= feature.assignee.login %></p>
          </div>
          <% else %>
          <h6 class="roadmap-item--smalltitle">Assignee</h6>
          <p class="roadmap-item--tiny"> No assignee </p>
          <% end %>
        </div>
        <div class="roadmap-item--activity">
          <h6 class="roadmap-item--smalltitle">Activity</h6>
          <p class="roadmap-item--tiny"> Created: <time><%= Time.parse(feature.created_at).strftime('%x') %></time></p>
          <p class="roadmap-item--tiny"> Updated: <time><%= Time.parse(feature.updated_at).strftime('%x') %></time></p>
          <p class="roadmap-item--tiny"> Comments: <%= feature.comments %></p>
          <p class="roadmap-item--tiny"> Other Activity: <%= data.events.length %></p>
        </div>
        <div class="roadmap-item--milestone">
          <h6 class="roadmap-item--smalltitle">Milestone</h6>
          <% if feature.milestone %>
          <p class="roadmap-item--tiny"> <%= feature.milestone.title %><%=  %></p>
          <p class="roadmap-item--tiny"> Due: <time><%= Time.parse(feature.milestone.due_on).strftime('%x') %><%=  %></time></p>
          <% else %>
          <p class="roadmap-item--tiny"> No milestone </p>
          <% end %>
        </div>
        <div class="roadmap-item--labels">
          <h6 class="roadmap-item--smalltitle">Labels</h6>
          <% if feature.labels.length != 0 %>
          <% for label in feature.labels %>
            <p class="roadmap-item--tiny"> <%= label.name %><%=  %></p>
          <% end %>
          <% else %>
          <p class="roadmap-item--tiny"> No labels </p>
          <% end %>
        </div>
      </div>
      <div class="roadmap-item--body viewer--content">
        <%= doc.css('p').first %>
      </div>
    </div>
  </div>
</section>