<div class="container padding-b-one">
  <div class="sheet js-anchor">
    <div class="sheet--section">
      <h1 class="<%= template %>"><%= template %></h1>
      <p class="<%= template %>">Lorem ipsum dolor sit amet, consect adipis elit.</p>
      <% if long %>
      <p class="<%= template %>">Aut dolorem obcaecati amet, perferendis deserunt, quaerat, perspiciatis laborum tempora rerum consequatur quidem dolore culpa numquam laudantium maxime debitis unde officia sed. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut dolorem obcaecati amet, perferendis deserunt, quaerat, perspiciatis laborum tempora rerum consequatur quidem dolore culpa numquam laudantium maxime debitis unde officia sed. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut dolorem obcaecati amet, perferendis deserunt, quaerat, perspiciatis laborum tempora rerum consequatur quidem dolore culpa numquam laudantium maxime debitis unde officia sed. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut dolorem obcaecati amet, perferendis deserunt, quaerat, perspiciatis laborum tempora rerum consequatur quidem dolore culpa numquam laudantium maxime debitis unde officia sed. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut dolorem obcaecati amet, perferendis deserunt, quaerat, perspiciatis laborum tempora rerum consequatur quidem dolore culpa numquam laudantium maxime debitis unde officia sed.</p>
      <% end %>
    </div>
    <div class="sheet--section">
      <code>
        .<%= template %> {
          font-family: NittiGrotesk;
          font-size: 1.375rem;
          line-height: 1.875rem;
          font-weight: 300;
        }
      </code>
    </div>
  </div>
</div>