---
title: Offcourse
layout: main
---
<div class="layout--section header">
  <div class="grid">
    <div class="grid--section"></div>
    <div class="grid--section">
     <div class="container padding-tb-four">
        <ul class="header--column">
          <li class="logo logo--large">Offcourse_</li>
          <li class="logo logo--large logo--inverse">Organize Your</li>
          <li class="header--row">
            <div class="logo logo--large logo--inverse">Learning</div>
            <div class="logo">Offcourse.io</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="layout--section">
  <div class="grid">

    <div class="grid--section">
      <%= partial("partials/card-nav", :locals => { :active => current_page.data.active }) %>
    </div>

    <div class="grid--section">
      <div class="container padding-tb-one">
        <div class="sheet">
          <article class="content">
            <%= blog('frontpage').articles[0].body %>
          </article>
        </div>
      </div>
      <div class="container padding-tb-one">
        <div class="sheet">
          <%= partial("partials/signup-mailchimp") %>
        </div>
      </div>
      <div class="container padding-t-two">
        <div class="logo logo--padded" id="features">Features</div>
      </div>
      <div class="cards">
        <% for concept in blog('frontpage').articles[1].data.concepts %>
        <%= partial("partials/card-concept", :locals => { :concept => concept }) %>
        <% end %>
      </div>
      <div class="container padding-t-two">
        <div class="logo logo--padded" id="preview">Preview</div>
      </div>
      <div class="container padding-tb-one">
        <div class="sheet">
          <article class="content">
            <img class="image image--filtered" src="./images/iteration-current.png" />
          </article>
        </div>
      </div>
      <div class="container padding-t-two">
        <div class="logo logo--padded" id="mission">Mission</div>
      </div>
      <div class="container padding-tb-one">
        <div class="sheet">
          <article class="content">
            <%= blog('frontpage').articles[3].body %>
          </article>
        </div>
      </div>
      <div class="container padding-t-two">
        <div class="logo logo--padded" id="team">Team</div>
      </div>
      <div class="cards-person">
        <% blog('team').articles.reverse_each do |person| %>
        <%= partial("partials/card-person", :locals => { :person => person }) %>
        <% end %>
      </div>
      <div class="container padding-t-two">
        <div class="logo logo--padded" id="signup">Signup</div>
      </div>
      <div class="container padding-tb-one">
        <div id="join" class="sheet">
          <%= partial("partials/signup-mailchimp") %>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="layout--section footer">
  <div class="grid">
    <div class="grid--section">
    </div>
    <div class="grid--section">
      <p class="footer--header">Follow us on:</p>
      <div class="footer--container">
        <a class="footer--textbar" href="https://github.com/OffCourse/offcourse-frontend">Github</a>   
        <a class="footer--textbar" href="https://twitter.com/offcourse_">Twitter</a>   
        <a class="footer--textbar" href="https://www.linkedin.com/company/7962249">LinkedIn</a>   
      </div>
    </div>
  </div>
</div>