---
title: Offcourse
layout: marketing
---

<% selectedArticles = blog('marketing').articles.select { |article| article.data.page == "home"  }%>
<% sortedArticles = selectedArticles.sort {|x, y| x.data.order <=> y.data.order} %>

<%= partial("partials/sheet-with-title", :locals => { :title => sortedArticles[0].data.title, :markdown => sortedArticles[0].body }) %>

<div class="container padding-t-two">
  <div class="logo" data-logo-padded="true" id="preview">Features</div>
</div>

<div class="subgrid padding-tb-one" data-subgrid-columns="3">
  <% for concept in sortedArticles[1].data.concepts %>
  <%= partial("partials/sheet-concept", :locals => { :concept => concept }) %>
  <% end %>
</div>

<%= partial("partials/sheet-with-title", :locals => { :title => sortedArticles[2].data.title, :markdown => sortedArticles[2].body }) %>
<%= partial("partials/sheet-with-title", :locals => { :title => sortedArticles[3].data.title, :markdown => sortedArticles[3].body }) %>
<%= partial("partials/sheet-with-title", :locals => { :title => sortedArticles[4].data.title, :markdown => sortedArticles[4].body }) %>
