---
title: Offcourse
layout: main
---
<div class="layout--section">
  <div class="header">
    <div class="header--section" style="background: #F96220;">
      <ul class="header--list">
        <li class="header--textbar">Offcourse_</li>
        <li class="header--textbar">Structure your Learning</li>
        <li class="header--textbar">Present your Learning</li>
      </ul>
    </div>
  </div>
</div>
<div class="layout--section">
  <div class="menubar">
    <div class="menubar--section">
      <div class="logo">
        <a href="/#">Offcourse_</a>
      </div>
    </div>
    <div class="menubar--section">
      <div class="actions-panel">
        <li data-button-type="textbar" class="button">Features</li>
        <li data-button-type="textbar" class="button">Roadmap</li>
        <li data-button-type="textbar" class="button">Team</li>
      </div>
    </div>
    <div class="menubar--section">
      <ul class="actions-panel">
        <a href="http://offcourse-staging.s3-website-us-west-2.amazonaws.com/flags/featured">
          <li data-button-type="textbar" class="button">Preview</li>
        </a>
      </ul>
    </div>
  </div>
</div>
<div class="layout--section">
  <div class="main">
    <div class="main--section">
      <div class="cards">
      <% for concept in blog('frontpage').articles[1].data.concepts %>
        <%= partial("partials/card-concept", :locals => { :concept => concept }) %>
      <% end %>
      </div>
    </div>
  </div>
</div>
<div class="layout--section">
  <div class="menubar" style="background: #555555;">
    <div class="menubar--section">
      <div class="actions-panel">
        <li data-button-type="textbar" class="button">Preview</li>
      </div>
    </div>
  </div>
</div>
<div class="layout--section">
  <div class="main">
    <div class="sheets">
      <div class="container">
        <div class="sheet">
          <div class="sheet--section sheet--section--without">
            <article class="content">
              <h1 class="title"><%= blog('frontpage').articles[2].data.title %></h1>
              <p><%= blog('frontpage').articles[2].body %></p>
            </article>
          </div>
        </div>
      </div>
      <% for log in blog('frontpage').articles[2].data.changelog %>
      <div class="container">
        <div class="sheet">
          <div class="sheet--section">
            <div class="list">
              <img src="images/cth-icon.svg" class="feature--image">
            </div>
            <div>
          </div>
          </div>
          <div class="sheet--section">
            <article class="content">
              <h1 class="title"><%= log.concept %></h1>
              <p><%= log.summery %></p>
            </article>
          </div>
        </div>
      </div>
      <% end %>
      <div class="container">
        <div class="sheet">
          <div class="sheet--section sheet--section--without">
            <article class="content">
              <h1 class="title"><%= blog('frontpage').articles[3].data.title %></h1>
              <p><%= blog('frontpage').articles[3].body %></p>
            </article>
          </div>
        </div>
      </div>
      <% for log in blog('frontpage').articles[3].data.changelog %>
      <div class="container">
        <div class="sheet">
          <div class="sheet--section">
            <div class="list">
              <img src="images/cth-icon.svg" class="feature--image">
            </div>
            <div>
          </div>
          </div>
          <div class="sheet--section">
            <article class="content">
              <h1 class="title"><%= log.concept %></h1>
              <p><%= log.summery %></p>
            </article>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
<div class="layout--section">
  <div class="menubar" style="background: #555555;">
    <div class="menubar--section">
      <div class="actions-panel">
        <li data-button-type="textbar" class="button">Preview</li>
      </div>
    </div>
  </div>
</div>
<div class="layout--section">
  <div class="main">
    <div class="cards">
      <% blog('team').articles.reverse_each do |person| %>
      <%= partial("partials/card-person", :locals => { :person => person }) %>
    <% end %>
    </div>
  </div>
</div>
<div class="layout--section" style="background: black;">
  <div class="main" style="background: black; color: white; height: 200px;">
    Some footer text
  </div>
</div>